*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body styling*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color:#01161e;
}

header {
    background-color: #fff;
    color: #0000;
    padding: 20px 0;
    text-align: center;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;

    display: flex;
    justify-content: flex-end;
}


nav ul {
    list-style: none;
    display: flex;          /* makes menu horizontal */
    /*justify-content: right;        /* centers menu */
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #01161e;
    font-weight: 450;
}

nav ul li a:hover{      /*colour changes when mouse touches link*/
    color: #db8718;
}

section {
    padding: 60px 20px;
    text-align: center;
}

/*--home---*/
#hero {
    min-height: 90vh;
    padding: 80px 100px;
    background-color: #fff;
    text-align: left;
}
.role {
    letter-spacing: 2px;
    font-size: 12px;
    color: #598392;
    margin-bottom: 20px;
    font-weight: 600;
}
.name {
    font-size: 84px;
    font-weight: 700;
    line-height: 1.1;
    color: #723c18;
    margin-bottom: 20px;
    : ;
}
.intro {
    max-width: 500px;
    font-size: 16px;
    color: #4a5d5d;
    margin-bottom: 30px;
}
.hero-buttons {
    display: flex;
    gap: 20px;
}
.btn {
    padding: 12px 22px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.btn.primary {
    background-color: #01161e;
    color: #ffffff;
}
.btn.secondary {
    color: #01161e;
}
.btn.primary:hover {
    background-color: #124559;
}

.btn.secondary:hover {
    text-decoration: underline;
}
/*Mobile responsive*/

@media (max-width: 768px) {
    #hero {
        padding: 60px 30px;
    }

    .name {
        font-size: 48px;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: flex-start;
    }
}


/*---About--*/
#about {
    background-color: #fff;
}

#about p {
    max-width: 700px;
    margin: auto;
    font-size: 17px;
}
.profile-pic {
    width: 180px;          /* control size */
    height: 180px;         /* same as width */
    border-radius: 50%;    /* makes it a circle */
    object-fit: cover;     /* prevents stretching */
    margin: 20px auto;     /* centers the image */
    display: block;
    border: 4px solid #124559; /* optional border */
}

/*---projects--*/
#projects {
    background-color: #598392;
    color: white;
}

.project {                          /*style all project card*/
    background-color: #124559;
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;            /*rounded corners*/
}

/* ---contact--*/
#contact a {
    color: #124559;
    font-weight: bold;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/*--footer--*/
footer {
    background-color: #124559;
    color: #eff6e0;
    text-align: center;
    padding: 20px;
}


/* make mobile friendly*/
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    #home h1 {
        font-size: 30px;
    }
}